[user]
    name = VoidAryan
    email = Miyamura0family@gmail.com

[core]
    editor = code --wait
    autocrlf = input

[remote "VOID"]
    url = https://github.com/Voidaryan/Portfolio.git

[branch "main"]
    remote = VOID
    merge = refs/heads/main
